.body{
}

.checked {
color:#feff51;
}

/* .unchecked {
color:#AAAAAA;
} */

.ratings{
    //direction: rtl;/* right to left */
    //unicode-bidi: bidi-override;/* bidi de bidireccional */
    font-size: 75px;
    color:#AAAAAA;
}

/* .star:hover{
  color:#feff51;
}

.star:hover~.star{
  color:#feff51;
} */
